{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bulma.css' %}">

    <title>Вход</title>

</head>
<body>
<style>
    body {
        background-color: url("{% static 'images/wakanda_icon.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        height: 1080px;
    }
</style>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="{% static 'images/wakanda.jpg' %}" width="48" height="58">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="{% url 'cars:home' %}" class="navbar-item"  >
        Главная страница
        </a>



      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          О компании
        </a>

        <div class="navbar-dropdown">

            <a class="js-modal-trigger navbar-item" data-target="modal-js-example">
                Информация
            </a>

          <a class="navbar-item">
            Конатакты
          </a>
          <hr class="navbar-divider">

        </div>
      </div>
    </div>

   <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a href="{% url 'users:sign_up' %}" class="button is-success mt-2 is-rounded">
                                    Регистрация
                                </a>
                                <a href="{% url 'users:sign_in' %}" class="button is-success mt-2 is-rounded">
                                    Вход
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>
  </div>
</nav>

    <div class="columns is-centered" style="margin-top: 4%">
        <div class="column is-4">
            <div class="box has-background-info-light">
                <form class="form has-text-centered" method="post">
                    <h1 class="title is-size-2 has-text-centered">Вход</h1>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="button is-primary is-fullwidth">
                        Подтвердить
                    </button>
                    <hr class="has-background-grey-lighter">
                    <div class="is-size-5 has-text-grey-light">Нет аккаунта?</div>
                    <a href="{% url 'users:sign_up' %}" class="button is-ghost">
                        Перейти на страницу регистрации
                    </a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>