<section class="section">
    <div class="columns">
        {% for brand in brands %}
            <div class="column">
             <a href="{% url 'cars:home' %}?brand={{ brand.pk }}"  style="margin-left: 50px" class=" ml-6">
                <div class="box has-text-centered a1">

                    <img src="{{ brand.img.url }}" alt=""  >


                   <h1 class="title is-4"> {{ brand }}</h1>

                </div>
                  </a>
            </div>


        {% endfor %}
    </div>
</section>