{% extends 'base.html' %}
{% load brand %}
{% load category %}




{% block slider %}
    <div class="container-slide">
        <div id="carousel-demo" class="carousel">
            {% for slide in slides %}
                <div class="item-1">
                    <img class="slider-img" src="{{ slide.image.url }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block content %}
    {% brands %}
    {% categories %}
    <section class="section">
        <h1 class="title has-text-centered mt-6">Специальные предложения именно для ВАС!</h1>
        <h1 class="title has-text-centered" style="margin-bottom: 25px">
            _________________________________________________________________</h1>

        <style>


            .card {
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                width: 400px;
            }

            .card img {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }

            .card-content {
                padding: 20px;
            }

            .card-title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .card-description {
                font-size: 16px;
                color: #666;
                margin-bottom: 20px;
            }

            .card-details {
                font-size: 14px;
                color: #888;
                margin-bottom: 10px;
            }

            .card-price {
                font-size: 22px;
                color: #f39c12;
            }
        </style>
        <div class="columns mt-6  is-centered is-multiline">
            {% for cars in car %}
                <a class="column  mt-4  is-4  " style="border-radius: 30px" href="{% url 'cars:detail' cars.slug %}">
                <div class="card b1">
                    <img src="{{ cars.image1.url }}" alt="Машина">
                    <div class="card-content">
                        <div class="card-title"> {{ cars.name }}</div>

                        <div class="card-details">
                            <p>{{ cars.date }}</p>
                            <p>Пробег: 10,000 км</p>
                            <p>Категория : {{ cars.category }}</p>
                            <p>Коробка передач: Автомат</p>
                            <p>Марка:{{ cars.brand }}</p>
                        </div>
                        <div class="card-price">Цена: {{ cars.price }}$</div>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>


    </section>
{% endblock %}