<section class="section">
    <div class="columns">
        {% for category in category_list %}
            <div class="column ">
                <a href="{% url 'cars:home' %}?category={{ category.pk }}" style="margin-left: 50px" class=" ml-6">
                    <div class="box has-text-centered a1">

                        <img src="{{ category.img.url }}" alt="" width="250px">


{#                        <h1 class="title">{{ category }}</h1>#}

                    </div>
                </a>
            </div>


        {% endfor %}
    </div>
</section>