<section class="section">
    <div class="columns">
        {% for category in category_list %}
            <div class="column">
                <a href="{% url 'cars:home' %}?category={{ category.pk }}" style="margin-left: 50px" class=" ml-6">
                    <div class="box has-text-centered">

                        <img src="{{ category.img.url }}" alt="">


                        {{ category }}

                    </div>
                </a>
            </div>


        {% endfor %}
    </div>
</section>