{% extends 'base.html' %}

{% block content %}
    <section class="section">

            <div class="box">
                <div class="columns  is-fullwidth a1">
                <div class="columns  is-fullwidth a1" style="border-radius: 20px">
    <div class="column is-half">
        <br>
        <img src="{{ car.image1.url }}" alt="" style="border-radius: 20px">

    </div>
    <div class="column is-half">
        <div class="title">{{ car.name }}</div>
        <div class="columns card is-mobile notification is-success is-light">
            <div class="column is-4 ">
                <div class="subtitle  ">
                    Цена:{{ car.price }}$
                </div>
            </div>
            <div class="column is-4 ">
                <div class="subtitle">
                    Категория:{{ car.category }}
                </div>
            </div>
            <div class="column is-4 ">

                <div class="subtitle">
                    Марка:{{ car.brand }}
                </div>
            </div>
        </div>
        <h1 class="title is-right has-text-centered">Доп.информация</h1>

        <h2 class="subtitle">Дата производства: {{ car.date }}
            <h2 class="subtitle">
                Пробег: {{ car.probeg }}
            </h2>
            <h2 class="subtitle">
                Обьём двигателя: {{ car.obyomdvigatela }}
            </h2>
            <h2 class="subtitle">
                Цвет: {{ i.color }}
            </h2>
            <h2 class="subtitle">
                Коробка передач: {{ car.korobka }}
            </h2>
            <h2 class="subtitle">
                привод: {{ car.privod }}
            </h2>
        </h2>
    </div>

</div>

            </div>
                 <h1 class="title has-text-centered" style="margin-bottom: 25px">
            _______________________________________________________________________________________________</h1>
                <h1 class="subtitle mt-6">{{ car.description }}</h1>
            </div>


    </section>
   {% if user.is_authenticated %}
        <section class="section">
        {#    <form method="post">#}
        {#    {% csrf_token %}#}

        {#    <button type="submit">Отправить заявку на тест драйв</button>#}
        {#    </form>#}
        <h1 class="title is-size-2 has-text-centered">Запись на тест драйв</h1>
        <hr class="has-background-grey-lighter">
        <div class="columns is-centered" style="margin-top: 4%">
            <div class="column is-4">
                <div class="box has-background-info-light" style="opacity: 1">
                    <form class="form has-text-centered" method="post">
                        {% csrf_token %}

                        {#                                <input class="input" type="text" placeholder="Мавлянова Сафия Нусратовна">#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="field">#}
                        {#                            <label class="label">введите номер телефона</label>#}
                        {#                            <div class="control">#}
                        {#                                <input class="input" type="text" placeholder="+998907159923">#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <label class="label">введите дату</label>#}

                        {#                            <input class="input" type="date">#}

                                             <div class="control">
                        {% for field in form %}
                            <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                            {{ field }}
                        {% endfor %}
                                                                     </div>
                        <br>
                        <button type="submit" class="button is-success is-fullwidth is-rounded">
                            Отправить
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </section>
   {% endif %}
{% endblock %}