{% extends 'base.html' %}
{% block content %}
    <section class="section">
        <div class="box">

            <h1 class="title is-1 has-text-centered">Список заявок на тест драйв</h1>
            <ul>
                {% for i in test_drive %}
                    <div class="box">
                        <div class="columns">
                            <div class="column">
                               
                        <img src="{{ i.car.image1.url }}" alt="" width="800" height="700">
                                Машина:<h1 class="subtitle is-4">{{ i.car }}</h1>
                                Дата:<h1 class="subtitle is-4">{{ i.date }}</h1>

                            </div>
                            <div class="column">

                                <img src="{{ i.car.image2.url }}" alt="" width="800" height="700">
                                <h1 class="title has-text-danger is-1 mt-6">Цена:{{ i.car.price }}$</h1>

                            </div>
                        </div>
                    <h1>____________________________________________________________________________________________________________________________________________________________________________________________</h1>
                            

                        

                    </div>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}